on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - uses: ./
        with:
          input: README.md
          output: extracted.sh
          tags: bash,ci
      - run: sh -xe extracted.sh

  extract-shell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - uses: ./
        with:
          input: .github/workflows/example.md
          output: extracted.sh
          tags: sh
      - run: |
          sh -xe extracted.sh | tee extracted.log
          grep -q 'hello, world from shell' extracted.log

  extract-bash-with-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - uses: ./
        with:
          input: .github/workflows/example.md
          output: extracted.bash
          tags: bash,ci
      - run: |
          bash -xe extracted.bash | tee extracted.log
          grep -q 'hello, world from bash with ci tag' extracted.log
          grep -q 'hello, world from bash with ci and slow' extracted.log

  extract-bash-exclude-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - uses: ./
        with:
          input: .github/workflows/example.md
          output: extracted.bash
          tags: bash,ci
          exclude-tags: slow
      - run: |
          bash -xe extracted.bash | tee extracted.log
          grep -q 'hello, world from bash with ci' extracted.log
