on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./
        with:
          input: README.md
          output: extracted.sh
          tags: bash,ci
      - run: sh -xe extracted.sh

  multi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./
        with:
          input: pkg/mdextract/multi.md
          multi: true
      - run: test -f example.yaml
      - run: test -f example.go
      - run: test -f example.txt
      - run: test -f example.js

  extract-shell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./
        with:
          input: .github/workflows/example.md
          output: extracted.sh
          tags: sh
      - run: |
          sh -xe extracted.sh | tee extracted.log
          grep -q 'hello, world from shell' extracted.log

  extract-bash-with-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./
        with:
          input: .github/workflows/example.md
          output: extracted.bash
          tags: bash,ci
      - run: |
          bash -xe extracted.bash | tee extracted.log
          grep -q 'hello, world from bash with ci tag' extracted.log
          grep -q 'hello, world from bash with ci and slow' extracted.log

  extract-bash-exclude-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./
        with:
          input: .github/workflows/example.md
          output: extracted.bash
          tags: bash,ci
          exclude-tags: slow
      - run: |
          bash -xe extracted.bash | tee extracted.log
          grep -q 'hello, world from bash with ci' extracted.log
